//Mobile first approach
body, html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: black;

  ul{
    list-style-type: none;
  }

  .no-show{
    display: none;
  }

  #registration {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    padding: 15px;
    background: no-repeat center;
    background-size: cover;
    z-index: 1;

    .container-fluid {
      width: 100vw;
      overflow: hidden;
      background: #9152f8;
      background: -webkit-linear-gradient(top, #2193b0, #6dd5ed);
      border-radius: 10px;
      padding: 35px 15px 37px 15px;

      #reg-form {
        .logo {
          font-size: 60px;
          color: #333333;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background-color: #fff;
          margin: 0 auto;
        }
        .title{
          font-size: 26px;
          color: #fff;
          line-height: 1.2;
          text-align: center;
          text-transform: uppercase;
          display: block;
          font-weight: 600;
          padding: 30px 30px 35px;
        }

        .form-group{
          border-bottom: solid 2px #fff;
          margin-bottom: 30px;
          position: relative;

          input{
            background: none;
            border: none;
            box-shadow: none;
            outline: none;
            font-size: 18px;
            color: #fff;
            line-height: 1.2;
            display: block;
            width: 100%;
            height: 40px;
            padding-left: 50px;

            &::placeholder{
              color: inherit;
              font-weight: 100;
            }
          }
          i{
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 18px;
            color: white;
          }
        }
        button{
          border-radius: 20px;
          padding: 8px 24px;
          font-size: 18px;
          background: #fff;
          color: #2294b1;
          position: absolute;
          bottom: 10%;
          left: 50%;
          transform: translate(-50%, -50%);
          outline: none;
        }

        .link-login{
          position: absolute;
          bottom: 8%;
          left: 50%;
          transform: translateX(-50%);
          white-space: pre;
        }
      }

      ul{
        position: relative;


        &::before{
          content: "";
          position: absolute;
          top: -30px;
          left: 15px;
          border: solid 15px transparent;
          z-index: 1;
          transform: rotate(-272deg);
        }

        &.invalid::before {
          border-right-color: #f2dede;
        }

        &.valid::before {
          border-right-color: #dff0d8;
        }

        li{
          &.valid{
            color: #3c763d;
            i::before{
              content: "\e013";
            }
          }
          &.invalid{
            i::before{
              content: "\e014";
            }
          }
        }
      }
    }
  }

  #login{
    position: relative;
    height: 100vh;
    color: #fff;

    .container-fluid{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      h3{
        text-align: center;
      }

      .register-again{
        position: relative;
        top: 50px;
        text-align: center;
      }
    }
  }
}

// Styling for mobile devices with height less than 700px (Galaxy s5, iphone 5s etc)
@media screen and ( max-height: 699px ) {
  body #registration {
    font-size: 14px;

    .container-fluid{
      #reg-form{
        .logo {
          height: 40px;
          width: 40px;
          font-size: 30px;
        }
        .title {
          font-size: 20px;
        }
        button{
          bottom: 5%;
        }
      }
    }
  }
}

// Styling for desktops/laptops
@media screen and ( min-width: 1024px ) {
  body #registration .container-fluid{
    width: 40vw;
    padding: 35px;
  }
  body #login .container-fluid, html #login .container-fluid {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// Styling for ipad pro
@media screen and ( min-height: 1200px ) {
  body #registration{
    min-height: 50vh;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);

    .container-fluid{
      width: 60vw;
      padding: 35px;

      #reg-form{
        button{
          bottom: 5%;
        }
      }
    }
  }
}

// Styling for ipad devices
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  body #registration {
    min-height: 70vh;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    .container-fluid{
      width: 70vw;
      padding: 35px;

      #reg-form{
        button{
          bottom: 5%;
        }
      }
    }
  }
}