body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: black; }
  body ul, html ul {
    list-style-type: none; }
  body .no-show, html .no-show {
    display: none; }
  body #registration, html #registration {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1; }
    body #registration .container-fluid, html #registration .container-fluid {
      width: 100vw;
      overflow: hidden;
      background: #9152f8;
      background: -webkit-linear-gradient(top, #2193b0, #6dd5ed);
      border-radius: 10px;
      padding: 35px 15px 37px 15px; }
      body #registration .container-fluid #reg-form .logo, html #registration .container-fluid #reg-form .logo {
        font-size: 60px;
        color: #333333;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 auto; }
      body #registration .container-fluid #reg-form .title, html #registration .container-fluid #reg-form .title {
        font-size: 26px;
        color: #fff;
        line-height: 1.2;
        text-align: center;
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        padding: 30px 30px 35px; }
      body #registration .container-fluid #reg-form .form-group, html #registration .container-fluid #reg-form .form-group {
        border-bottom: solid 2px #fff;
        margin-bottom: 30px;
        position: relative; }
        body #registration .container-fluid #reg-form .form-group input, html #registration .container-fluid #reg-form .form-group input {
          background: none;
          border: none;
          box-shadow: none;
          outline: none;
          font-size: 18px;
          color: #fff;
          line-height: 1.2;
          display: block;
          width: 100%;
          height: 40px;
          padding-left: 50px; }
          body #registration .container-fluid #reg-form .form-group input::placeholder, html #registration .container-fluid #reg-form .form-group input::placeholder {
            color: inherit;
            font-weight: 100; }
        body #registration .container-fluid #reg-form .form-group i, html #registration .container-fluid #reg-form .form-group i {
          position: absolute;
          top: 10px;
          left: 10px;
          font-size: 18px;
          color: white; }
      body #registration .container-fluid #reg-form button, html #registration .container-fluid #reg-form button {
        border-radius: 20px;
        padding: 8px 24px;
        font-size: 18px;
        background: #fff;
        color: #2294b1;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        outline: none; }
      body #registration .container-fluid #reg-form .link-login, html #registration .container-fluid #reg-form .link-login {
        position: absolute;
        bottom: 8%;
        left: 50%;
        transform: translateX(-50%);
        white-space: pre; }
      body #registration .container-fluid ul, html #registration .container-fluid ul {
        position: relative; }
        body #registration .container-fluid ul::before, html #registration .container-fluid ul::before {
          content: "";
          position: absolute;
          top: -30px;
          left: 15px;
          border: solid 15px transparent;
          z-index: 1;
          transform: rotate(-272deg); }
        body #registration .container-fluid ul.invalid::before, html #registration .container-fluid ul.invalid::before {
          border-right-color: #f2dede; }
        body #registration .container-fluid ul.valid::before, html #registration .container-fluid ul.valid::before {
          border-right-color: #dff0d8; }
        body #registration .container-fluid ul li.valid, html #registration .container-fluid ul li.valid {
          color: #3c763d; }
          body #registration .container-fluid ul li.valid i::before, html #registration .container-fluid ul li.valid i::before {
            content: "\e013"; }
        body #registration .container-fluid ul li.invalid i::before, html #registration .container-fluid ul li.invalid i::before {
          content: "\e014"; }
  body #login, html #login {
    position: relative;
    height: 100vh;
    color: #fff; }
    body #login .container-fluid, html #login .container-fluid {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      body #login .container-fluid h3, html #login .container-fluid h3 {
        text-align: center; }
      body #login .container-fluid .register-again, html #login .container-fluid .register-again {
        position: relative;
        top: 50px;
        text-align: center; }

/*# sourceMappingURL=styles.css.map */
