<section id="registration">
    <div class="container-fluid">
        <form id="reg-form">
            <span class="logo">
                <i class="glyphicon glyphicon-fire"></i>
            </span>
            <span class="title p-b-34 p-t-27">Register</span>
            <div class="form-group">
                <input type="email" class="email form-control" placeholder="Email" required>
                <i class="glyphicon glyphicon-user"></i>
            </div>
            <div class="form-group">
                <input type="password" class="password form-control" placeholder="Password">
                <i class="glyphicon glyphicon-lock"></i>
            </div>

            <ul class="validation-box alert alert-danger invalid no-show">
                <li class="characters">
                    <i class="glyphicon"></i>
                    <strong>8+ characters</strong>
                </li>
                <li class="lowercase">
                    <i class="glyphicon"></i>
                    <strong>lowercase letter</strong>
                </li>
                <li class="uppercase">
                    <i class="glyphicon"></i>
                    <strong>uppercase letter</strong>
                </li>
                <li class="number">
                    <i class="glyphicon"></i>
                    <strong>number</strong>
                </li>
                <li class="special_char">
                    <i class="glyphicon"></i>
                    <strong>special character</strong>
                </li>
            </ul>

            <button type="submit" class="btn btn-default">Submit</button>
            <span class="link-login">Already a member?<a href="#login">Log in</a></span>
        </form>
    </div>
</section>